# --- Datasets ---
*.csv
configuracion_usada.json

# --- Modelos y Binarios ---
# Los modelos se deben generar ejecutando el script, no subirse
*.sav
*.pkl

# --- Python ---
__pycache__/
*.py[cod]

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Específicos de PyCharm / Entorno ---
.idea/
.venv/
venv/
.venv2/
venv2/

# --- Archivos .csv ...
WhatsApp.csv
Telegram.csv
resumen_topicos.txt
train_opiniones_balanceadas.txt
resenas_sinteticas*